---
apiVersion: v1
kind: ConfigMap
metadata:
  name: k8s-rep-configmap
data:
  rep.json: |-
    {
      "cell_id": "$NODE_UID",
      "zone": "$ZONE",
      "communication_timeout": "10s",
      "lock_retry_interval": "5s",
      "lock_ttl": "15s",
      "session_name": "rep",
      "reserved_expiration_time": "1m",
      "container_reap_interval": "1m",
      "container_owner_name": "executor",
      "healthcheck_container_owner_name": "executor-health-check",
      "garden_healthcheck_emission_interval": "30s",
      "envoy_config_reload_duration": "5s",
      "envoy_drain_timeout": "15m",
      "advertise_domain": "{{ .Values.advertiseDomain }}",
      "auto_disk_capacity_overhead_mb": 0,
      "cache_path": "/var/lib/rep/download_cache",
      "cell_index": 0,
      "cell_registrations_locket_enabled": true,
      "container_inode_limit": 200000,
      "container_max_cpu_shares": 1024,
      "set_cpu_weight": true,
      "create_work_pool_size": 32,
      "debug_address": "127.0.0.1:17008",
      "delete_work_pool_size": 32,
      "disk_mb": "auto",
      "enable_declarative_healthcheck": true,
      "declarative_healthcheck_path": "/var/lib/rep/healthcheck",
      "enable_healthcheck_metrics": false,
      "enable_container_proxy": true,
      "container_proxy_require_and_verify_client_certs": true,
      "container_proxy_trusted_ca_certs": [
        {{ .Values.ca_crt | quote }}
      ],
      "container_proxy_verify_subject_alt_name": [
        "gorouter",
        "ssh-proxy"
      ],
      "container_proxy_ads_addresses": [],
      "advertise_preference_for_instance_address": false,
      "enable_unproxied_port_mappings": false,
      "proxy_memory_allocation_mb": 64,
      "proxy_enable_http2": true,
      "container_proxy_path": "/var/lib/rep/proxy",
      "container_proxy_config_path": "/var/lib/rep/proxy_config",
      "volume_mounted_files": "/var/lib/rep/volume_mounted_files",
      "evacuation_polling_interval": "10s",
      "evacuation_timeout": "600s",
      "garden_addr": "/run/containerd/containerd.sock",
      "garden_healthcheck_command_retry_pause": "1s",
      "garden_healthcheck_interval": "10m",
      "garden_healthcheck_process_path": "/bin/sh",
      "garden_healthcheck_process_user": "vcap",
      "garden_healthcheck_timeout": "10m",
      "garden_network": "unix",
      "graceful_shutdown_interval": "10s",
      "healthcheck_work_pool_size": 64,
      "healthy_monitoring_interval": "30s",
      "listen_addr": "127.0.0.1:1800",
      "listen_addr_securable": "0.0.0.0:1801",
      "log_level": "info",
      "log_rate_limit_exceeded_report_interval": "5m",
      "loggregator": {
        "loggregator_use_v2_api": true,
        "loggregator_api_port": 3458,
        "loggregator_api_host": "forwarder-agent.{{ .Release.Namespace }}.svc.cluster.local",
        "loggregator_ca_path": "/etc/ssl/certs/rep/ca.crt",
        "loggregator_cert_path": "/etc/ssl/certs/rep/tls.crt",
        "loggregator_key_path": "/etc/ssl/certs/rep/tls.key",
        "loggregator_job_deployment": "cf",
        "loggregator_job_name": "scheduler",
        "loggregator_job_origin": "rep",
        "loggregator_source_id": "rep"
      },
      "max_cache_size_in_bytes": 10000000000,
      "max_concurrent_downloads": 5,
      "memory_mb": "auto",
      "metrics_work_pool_size": 8,
      "placement_tags": $PLACEMENT_TAGS,
      "optional_placement_tags": $OPTIONAL_PLACEMENT_TAGS,
      "polling_interval": "30s",
      {{- $stacks := list }}
      {{- range $stack, $image := .Values.stacks }}
        {{- $stacks = append $stacks (printf "%s:%s" $stack $image) }}
      {{- end }}
      "preloaded_root_fs": {{ $stacks | toJson }},
      "read_work_pool_size": 64,
      "skip_cert_verify": false,
      "supported_providers": [
        "docker"
      ],
      "temp_dir": "/tmp",
      "unhealthy_monitoring_interval": "2s",
      "use_schedulable_disk_size": false,
      "report_interval": "1m",
      "max_data_string_length": 640,
      "max_log_lines_per_second": 0,
      "volman_driver_paths": "/var/lib/rep/voldrivers",
      "trusted_system_certificates_path": "/var/lib/rep/trusted_certs",
      "garden_healthcheck_process_args": [
        "-c",
        "ls > /tmp/test"
      ],
      "garden_healthcheck_process_env": [],
      "container_metrics_report_interval": "15s",
      "locket_address": "{{ .Values.locketAddress }}",
      "locket_client_keepalive_time": 10,
      "locket_client_keepalive_timeout": 22,
      "locket_ca_cert_file": "/etc/ssl/certs/rep/ca.crt",
      "locket_client_cert_file": "/etc/ssl/certs/rep/tls.crt",
      "locket_client_key_file": "/etc/ssl/certs/rep/tls.key",
      "path_to_tls_ca_cert": "/etc/ssl/certs/rep/ca.crt",
      "path_to_tls_cert": "/etc/ssl/certs/rep/tls.crt",
      "path_to_tls_key": "/etc/ssl/certs/rep/tls.key",
      "ca_cert_file": "/etc/ssl/certs/rep/ca.crt",
      "cert_file": "/etc/ssl/certs/rep/tls.crt",
      "key_file": "/etc/ssl/certs/rep/tls.key",
      "bbs_address": "https://{{ .Values.bbsAddress }}",
      "instance_identity_ca_path": "/etc/ssl/certs/instance-identity/tls.crt",
      "instance_identity_private_key_path": "/etc/ssl/certs/instance-identity/tls.key",
      "instance_identity_cred_dir": "/var/lib/rep/instance_identity",
      "instance_identity_validity_period": "24h",
      "time_format": "rfc3339",
      "layering_mode": "single-layer",
      "declarative_healthcheck_default_timeout": "1s",
      "k8s_rep": {
        "container_config_path": "/var/lib/rep/container_config"
      }
    }
